.skew-wrapper {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  overflow: hidden;

  /* border: 1px solid blue; */
}

.skew-side {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  overflow: hidden;

  &.left {
    transform: translateX(calc(var(--centerX) - 100vw));
    
    /* border: 1px solid red; */
    .skew-clone {
      position: absolute;
    }
  }

  &.right {
    transform: translateX(var(--centerX));
    
    /* border: 1px solid green; */
    .skew-clone {
      position: absolute;
      
      background-color: pink;
      /* transform: translateX(calc(-1 * var(--centerX))); */
    }
  }
}