:root {
  --skew-angle: 45deg;
  --y-offset: 20vh;
  --x-offset: 10vw;
}

.skew-wrapper {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  overflow: hidden;

  /* border: 1px solid blue; */
}

.skew-side {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  overflow: hidden;
  
  animation: 100s linear calc(-100s * var(--normalizedY)) paused tint;

  /* mark {
    animation: 100s linear calc(-100s * var(--normalizedY)) paused tint-mark;
  } */

  &.left {
    transform-origin: right center;
    transform: translateX(calc(var(--centerX) - 100vw)) skewY(calc(var(--centerNormalizedY) * var(--skew-angle)));
    /* transform: translateX(calc(var(--centerX) - 100vw)); */

    animation-direction: reverse;
    /* mark {
      animation-direction: reverse;
    } */
    
    /* border: 1px solid red; */
    .skew-clone {
      position: absolute;
      transform: translateX(calc(-1 * (var(--centerX) - 100vw) - var(--centerNormalizedX) * var(--x-offset))) translateY(calc(var(--centerNormalizedY) * var(--y-offset)));

      /* background-color: blanchedalmond; */
    }
  }

  &.right {
    transform-origin: left center;
    transform: translateX(var(--centerX)) skewY(calc(var(--centerNormalizedY) * var(--skew-angle) * -1));
    /* transform: translateX(var(--centerX)); */
    
    /* border: 1px solid green; */
    .skew-clone {
      position: absolute;
      transform: translateX(calc(-1 * var(--centerX) - var(--centerNormalizedX) * var(--x-offset))) translateY(calc(var(--centerNormalizedY) *var(--y-offset)));
      
      /* background-color: pink; */
    }
  }
}

@keyframes tint {
  0% {
    color: #ec2c70; /* #ec5a2c; */
  }
  50% {
    color: #d5afe7;
  }
  100% {
    color: #d335c2;
  }
}

@keyframes tint-mark {
  0% {
    background-color: pink;
  }
  100% {
    background-color: lightblue;
  }
}