@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b {
  font-weight: 600;
}

body {
  position: relative;
  display: flex;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-weight: 400;
  font-size: 8vw;
  /* font-size: 3.2em;
  line-height: 1.1; */
}

#app {
  margin: 0 auto;
  text-align: center;
  padding: 5vw;
}
