@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

b {
  font-weight: 600;
}

body {
  position: relative;
  display: flex;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 5vw;
  box-sizing: border-box;

  background-color: #d8d4d0;
  /* background-image:
    linear-gradient(to right, #bcc8cc, 1px, transparent 1px),
    linear-gradient(to bottom, #bcc8cc, 1px, transparent 1px);
  background-size: 5vw 5vw;
  background-repeat: repeat; */

  /* background-image:
  radial-gradient(circle at 30% 40%, #c370c4, #abb6be 70%);
      
    background-size:
      100% 100%;
    background-repeat:
     no-repeat; */
}

h1 {
  font-weight: 300;
  font-size: 8vw;
  /* font-size: 3.2em;
  line-height: 1.1; */
}

#app {
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
}
